* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: hsl(0, 100%, 74%);
  background-image: url('../images/bg-intro-desktop.png');
}

body, input, textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 77vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 35vw;
}

header .title {
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.03em;
  color: #FFF;
  margin-bottom: 5vh;
}

header .description {
  color: #FFF2F3;
}

.register {
  margin-left: 5vw;
  flex: 1;
}

.register .scheme {
  width: 100%;
  padding: 2.5vh;
  background-color: hsl(248, 32%, 49%);
  box-shadow: 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 2.5vh;
}

.register .scheme p {
  text-align: center;
  color: #FFF;
  font-weight: 400;
}

.register form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5vh;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px rgba(0, 0, 0, 0.1);
}

.register form .field-block {
  position: relative;
  margin-bottom: 2.5vh;
  display: flex;
  flex-direction: column;
}

.register form .field-block input {
  width: 100%;
  padding: 2.5vh 20px;
  border-radius: 8px;
  border: 1px solid hsl(246, 25%, 77%);
  font-weight: 600;
  color: hsl(249, 10%, 26%);
}

.register form .field-block input:focus {
  outline: none;
  border: 1px solid hsl(249, 10%, 26%);
}

.register form .field-block .warning {
  display: none;
  position: absolute;
  right: 20px;
  top: 2.5vh;
}

.register form .field-block .error-message {
  align-self: flex-end;
  color: red;
  font-size: 12px;
  font-style: italic;
}

.register form button {
  margin-bottom: 2.5vh;
  padding: 2.5vh 0;
  border-radius: 10px;
  border: none;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0 5px 0 1px #32B87D;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  cursor: pointer;
  outline: none;
  transition: transform 0.2s, box-shadow 0.2s;
}

.register form button:focus {
  box-shadow: none;
  transform: translateY(5px);
}

.register .terms {
  text-align: center;
  color:hsl(246, 25%, 77%);
  font-size: 12px;
}

.register .terms a {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

@media(max-width: 768px) {
  .container {
    width: 90vw;
  }

  header .title {
    font-size: 40px;
    line-height: 42px;
  }
}

@media(max-width: 550px) {
  body {
    padding: 60px 0;
  }
  .container {
    flex-direction: column;
  }

  header {
    width: 90vw;
    text-align: center;
    margin-bottom: 60px;
  }

  header .title {
    font-size: 32px;
    line-height: 34px;
  }

  .register {
    margin-left: 0;
  }
}



.attribution {
  color: #FFF; 
  position: absolute;
  bottom: 2px;
  right: 10px;
  font-size: 11px; text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%);
}